<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621271041924-nr7t5ljo4q8119vsnrbt6tlhtnujg7h9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621271041924-nr7t5ljo4q8119vsnrbt6tlhtnujg7h9</string>
	<key>API_KEY</key>
	<string>AIzaSyBFFVfPQeBaQ-bdjvEl85RxBWDT5f6WA2M</string>
	<key>GCM_SENDER_ID</key>
	<string>621271041924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>trippy</string>
	<key>PROJECT_ID</key>
	<string>trippy-36950</string>
	<key>STORAGE_BUCKET</key>
	<string>trippy-36950.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621271041924:ios:18557aebbb8200c1</string>
	<key>DATABASE_URL</key>
	<string>https://trippy-36950.firebaseio.com</string>
</dict>
</plist>